:root{
    --d-dark: #011825;
    --n: #016dac;
    --dark: #032b43;
    --font-light: #0b6e81;
    --font-normal: #fff;
}
*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: var(--dark);
}
a{
    text-decoration: none;
    color: var(--font-normal);
}
img{
    width: 40px;
    height: 40px;
}
header{
    width: 100%;
    min-height: 60px;
    background-color: var(--d-dark);
    color: white;
    display: flex;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar a{
    font-weight: bold;
}
.logo{
    width: 30%;
    height: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    font-weight: bold;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
#openMenu, #closeMenu{
    font-size: 2em;
    display: none;
}
#openMenu{
    position: absolute;
    right: 20px;
}
#mainMenu{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons{
    display: none;
}
#mainMenu a:hover{
    transition: .5s;
    color: orangered;
    border-bottom: 1px solid orangered;
    padding-bottom: 5px;
}

@media all and (0 < width < 700px){
    .navbar{
        justify-content: space-between;
    }
    .logo{
        width: 60%;
    }
    #mainMenu{
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        justify-content:stretch;
        padding-top: 150px;
        background-color: var(--d-dark);
        gap: 25px;
        transition: right 1s ease;
        display:none;
    }
    #openMenu, #closeMenu{
        display: block;
    }
    #closeMenu{
        position: absolute;
        top: 20px;
        left: 20px;
    }
}